.book-listings {
    background-color: #f0f9ff;
    padding: 2.5rem 1rem;
  }
  
  .book-listings-container {
    max-width: 128rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  
  .book-item {
    background-color: #fff; /* Optional: Background color for each item */
    border-radius: 8px; /* Optional: Rounded corners for the item */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for a lifted effect */
    overflow: hidden;
    text-align: center;
  }
  
  .book-item img {
    width: 100%;
    height: auto;
  }
  
  .book-info {
    padding: 1rem;
  }
  
  .book-item h2,
  .book-item h3 {
    margin-bottom: 0.5rem;
    color: #4f46e5; /* Change color as needed */
  }
  
  .book-item p {
    margin-bottom: 1rem;
  }
  
  .recent {
    text-align: center;
    font-size: 30px;
    color:#ffffff;
    background-color: rgb(1, 7, 7);
  }
  
  @media (min-width: 768px) {
    .book-listings-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }