/* General Container Styles */
.container {
    max-width: 112rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .container-xl {
    max-width: 128rem;
  }